{% extends 'base.html' %}
{% block content%}
<div class="container-fluid">    
        <div class="jumbotron">
            <h2 class="news_name text-center"><strong>{{id_name}}</strong></h2>
        
        </div>
    
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4" style="height:50%">
        <div class="card" >
            <img class="card-img-top img-responsive" src={{article.urlToImage}} alt="Article Image">
            <div class="card-body">
                <h3 class="card-title">{{article.title}}</h3>
                <p class="card-text">{{article.description}}</p>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Posted By: <strong>{{article.author}}</strong></small></p>
                    <p class="card-text"><small class="text-muted">Posted on: {{article.publishedAt}}</small></p>
                    <a class="btn btn-info" href={{article.url}} target="_blank">Visit Site</a>
                </div>
            </div>
        </div>
        </div> 
        {% endfor %}
    </div>   
</div>
{% endblock%}


<!-- <div class="col-md-4 article-css">
             <a href={{article.url}} target="_blank"> <img src={{article.urlToImage}} alt="Article Image"></a>
             <div>
                 <h3><strong>{{article.title}}</strong></h3>
                 <h6>Published by<em>{{article.author}}</em></h6>
                 <p class="small">Posted on: {{article.publishedAt}}</p>
                 <p>{{article.description}}</p>
                 <p class="btn btn-info"><a href={{article.url}} target="_blank">Visit Site</a></p>
             </div>
         </div> -->
        
        